button {
  margin: 0;
  padding: 6px 20px;
  display: inline-block;
  position: relative;
  min-width: 80px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  border: 2px solid $accent-color;
  color: rgba(0, 150, 217, 1);
  background-color: $editable-hoverbgcolor;
  font-size: 16px;
  font-weight: bold;
  &:disabled {
    opacity: 0.4;
  }
  &:disabled:hover {
    background-color: $editable-hoverbgcolor;
  }
  &:hover {
    background-color: $accent-hovercolor;
  }
  &.active {
    color: $editable-hoverbgcolor;
    background-color: $accent-color;
  }
  &.active:hover {
    background-color: $accent-activehovercolor;
  }
  &.twitter {
    color: $editable-hoverbgcolor;
    border: none;
    background-color: $twitter-color;
  }
  &.twitter:hover {
    background-color: $twitter-hovercolor;
  }
}