$app-textcolor: #2c3e50;
$app-bgcolor: #f7f5f5;
$app-bgcolor-light: #fefefe;
$border: #cccccc;

$twitter-color: rgb(29, 161, 242);
$twitter-hovercolor: rgba(29, 161, 242, 0.7);

$accent-color: rgb(0, 150, 217);
$accent-hovercolor: rgba(0, 150, 217, 0.3);
$accent-activehovercolor: rgba(0, 150, 217, 0.7);

$preview-bgcolor: #d9d9d9;
$preview-textcolor: $app-textcolor;

$editable-textcolor: #fefefe;
$editable-bgcolor: $accent-color;
$editable-hovertextcolor: $accent-color;
$editable-hoverbgcolor: #fefefe;